.ButtonLink {
  background: #eb5e28;
  border: 2px solid #eb5e28;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 5px;
  min-width: 150px;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.ButtonLink span {
  padding-right: 10px;
}

.ButtonLink:hover {
  background: #b33c12;
  border-color: #b33c12;
}

.ButtonLink.Clean {
  border: 0;
  background: transparent;
  color: #eb5e28;
}

.ButtonLink.Clean:hover {
  color: #b33c12;
}

.ButtonLink.Default {
  background: transparent;
  color: #eb5e28;
}

.ButtonLink.Default:hover {
  color: #b33c12;
}

.ButtonLink.Alt {
  background: #f3bb45;
  border: 2px solid #f3bb45;
  color: #fff;
}

.ButtonLink.Alt:hover {
  background: #bb992f;
  border: 2px solid #bb992f;
  color: #fff;
}

.ButtonLink.Clean.Alt, .ButtonLink.Default.Alt {
  background: transparent;
  color: #f3bb45;
}

.ButtonLink.Clean.Alt:hover, .ButtonLink.Default.Alt:hover {
  background: transparent;
  color: #bb992f;
}
