/**
 * Makes sure our app fills entire browser-window
 */
html, body, #root {
  color: #403d39;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/**
 * WARNING: This is very importnat to ensure that all elements will have
 * consistent size. Changing this will likely break entire system layout.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: -0.04em;
}

a {
  color: #fff;
  text-decoration: none;
}
