.Board {
  background-color: #111;
  background-image: linear-gradient(to bottom, #333, #111);
  border-bottom: 4px solid #444;
  border-top: 4px solid #444;
  display: flex;
  max-width: 1000px;
  max-height: 1000px;
  position: relative;
}

.Board::before {
  background-image: url(//static.tumblr.com/i21wc39/coTmrkw40/shadow.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
