.EditPanel {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.EditPanel > * {
  margin: 0 0 10px 0;
}

.EditPanel input {
  line-height: 15px;
  padding: 2px 5px;
}
